## Lab 1: Data in Python

The data for this activity can be downloaded here (under "Data Sets"): https://www.statlearning.com/resources-python

As a first step, create a folder in this location called "data" and drop the Credit.csv file in that location.

If you open the ".gitignore" file, you'll notice that one of the entries is "data" so that your data files will not be shared on GitHub.

In [3]:
import pandas as pd
import numpy as np
Credit = pd.read_csv('data/Credit.csv')
Credit

,Income,Limit,Rating,Cards,Age,Education,Own,Student,Married,Region,Balance
0,14.891,3606,283,2,34,11,No,No,Yes,South,333
1,106.025,6645,483,3,82,15,Yes,Yes,Yes,West,903
2,104.593,7075,514,4,71,11,No,No,No,West,580
3,148.924,9504,681,3,36,11,Yes,No,No,West,964
4,55.882,4897,357,2,68,16,No,No,Yes,South,331
...,...,...,...,...,...,...,...,...,...,...,...
395,12.096,4100,307,3,32,13,No,No,Yes,South,560
396,13.364,3838,296,5,65,17,No,No,No,East,480
397,57.872,4171,321,5,67,12,Yes,No,Yes,South,138
398,37.728,2525,192,1,44,13,No,No,Yes,South,0
399,18.701,5524,415,5,64,7,Yes,No,No,West,966

### What are the feature names?

In [4]:
Credit.columns

Index(['Income', 'Limit', 'Rating', 'Cards', 'Age', 'Education', 'Own',
       'Student', 'Married', 'Region', 'Balance'],
      dtype='object')

### What are the data types of the feature values (i.e., numeric, categorical)

In [13]:
Credit.dtypes

Income       float64
Limit          int64
Rating         int64
Cards          int64
Age            int64
Education      int64
Own           object
Student       object
Married       object
Region        object
Balance        int64
dtype: object

### Find the mean, median, and mode of the feature "Age."

In [18]:
Age_mean = Credit['Age'].mean()
print(Age_mean)

55.6675

In [19]:
Age_median = Credit['Age'].median()
print(Age_median)

56.0

In [21]:
Age_mode = Credit['Age'].mode()[0]
print(Age_mode)

44

### Create a subset of Credit that only contains the columns Age, Region, and Income. Call it "Subset."

In [23]:
Subset = Credit[['Age', 'Region', 'Income']]
print(Subset)

     Age Region   Income
0     34  South   14.891
1     82   West  106.025
2     71   West  104.593
3     36   West  148.924
4     68  South   55.882
..   ...    ...      ...
395   32  South   12.096
396   65   East   13.364
397   67  South   57.872
398   44  South   37.728
399   64   West   18.701

[400 rows x 3 columns]

### From this subset, create two partitions: 
- One that contains records for Ages below 50, and one that contains Ages 50+
- Call them "Younger" and "Older"

In [26]:
Younger = Credit[Credit['Age'] < 50]
print(Younger)

      Income  Limit  Rating  Cards  Age  Education  Own Student Married  \
0     14.891   3606     283      2   34         11   No      No     Yes
3    148.924   9504     681      3   36         11  Yes      No      No
6     20.996   3388     259      2   37         12  Yes      No      No
9     71.061   6819     491      3   41         19  Yes     Yes     Yes
10    63.095   8117     589      4   30         14   No      No     Yes
..       ...    ...     ...    ...  ...        ...  ...     ...     ...
391   73.327   6555     472      2   43         15  Yes      No      No
392   25.974   2308     196      2   24         10   No      No      No
394   49.794   5758     410      4   40          8   No      No      No
395   12.096   4100     307      3   32         13   No      No     Yes
398   37.728   2525     192      1   44         13   No      No     Yes

    Region  Balance
0    South      333
3     West      964
6     East      203
9     East     1350
10   South     1407
..     ...      ...
391  South      721
392   West        0
394  South      734
395  South      560
398  South        0

[161 rows x 11 columns]

In [27]:
Older = Credit[Credit['Age'] >= 50]
print(Older)

      Income  Limit  Rating  Cards  Age  Education  Own Student Married  \
1    106.025   6645     483      3   82         15  Yes     Yes     Yes
2    104.593   7075     514      4   71         11   No      No      No
4     55.882   4897     357      2   68         16   No      No     Yes
5     80.180   8047     569      4   77         10   No      No      No
7     71.408   7114     512      2   87          9   No      No      No
..       ...    ...     ...    ...  ...        ...  ...     ...     ...
390  135.118  10578     747      3   81         15  Yes      No     Yes
393   17.316   1335     138      2   65         13   No      No      No
396   13.364   3838     296      5   65         17   No      No      No
397   57.872   4171     321      5   67         12  Yes      No     Yes
399   18.701   5524     415      5   64          7  Yes      No      No

    Region  Balance
1     West      903
2     West      580
4    South      331
5    South     1151
7     West      872
..     ...      ...
390   West     1393
393   East        0
396   East      480
397  South      138
399   West      966

[239 rows x 11 columns]

### Use these partitions to compare the mean and median Income for each age group (less than 50 vs. 50+)

In [29]:
Age_mean = Younger['Age'].mean()
print(Age_mean)

38.06211180124224

In [30]:
Age_mean = Older['Age'].mean()
print(Age_mean)

67.52719665271967

In [31]:
Age_median = Younger['Age'].median()
print(Age_median)

39.0

In [32]:
Age_median = Older['Age'].median()
print(Age_median)

67.0

### What does the difference between mean and median suggest about the distribution of income?

Type your answer here.

The difference between mean and median suggests that the distribution of income is non symmetrical and is rather skewed. Looking at the data from both subsets that we have recieved, we can see that the median is greater than the mean indicating that the data is skewed to the left. In other words, this means that there are values of income in both sets of Age that are pulling down the average income.

### What are the possible values for Region?

In [37]:
CR = Credit['Region'].unique()
print(CR)

['South' 'West' 'East']

### Use the value_counts method to build a frequency table for the possible values of Region.

In [45]:
value_counts =Credit['Region'].value_counts()
print(value_counts)

Region
South    199
West     102
East      99
Name: count, dtype: int64

### Compare the average income for students vs. non-students.

In [47]:
Avg_Income_by_Student = Credit.groupby('Student')['Income'].mean()
print(Avg_Income_by_Student)

Student
No     44.988533
Yes    47.292050
Name: Income, dtype: float64

Often, banks will use a variable called _utilization_ to assess credit risk.
Utilization is the ratio of balance to limit (i.e., what % of the credit limit is being used?)
### Add a feature to the Credit dataset to measure utilization

In [52]:
Credit['Utilization'] = Credit['Balance'] / Credit['Limit'] * 100
print(Credit['Utilization'])

0       9.234609
1      13.589165
2       8.197880
3      10.143098
4       6.759240
         ...
395    13.658537
396    12.506514
397     3.308559
398     0.000000
399    17.487328
Name: Utilization, Length: 400, dtype: float64

### What is the maximum utilization value in this set?